@if (phase) {   
    Phase: {{phase.toLowerCase()}}
    <button matButton="elevated" type="submit" (click)="step(roomId!)">Next phase</button>
} @else {
    <button matButton="elevated" type="submit" (click)="this.setupGame()" [disabled]="this.hasMinimumPlayers()">Start Game</button>&nbsp;
}
<button matButton="elevated" type="submit" (click)="addSeat()" [disabled]="this.hasMaximumSeats()">Add Seat</button>&nbsp;
<button matButton="elevated" type="submit" (click)="removeSeat()" [disabled]="this.hasMinimumSeats()">Remove Seat</button>

