
{{getVisitor().name}}

@if (latest()) {
    <button matButton="elevated" type="submit" (click)="leave()">Leave</button>
    <br/>
    <br/>
    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="mat-typography">
                <h2>{{ getRoom().name }} <small>({{getRoom().gid}})</small></h2>
                <p>Story teller: {{ getRoom().storyteller_name }}</p>
                <p>Script: {{ getRoom().script_name }}</p>
                <p>Status: {{ getRoom().status }}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <br/>
    <mat-card appearance="outlined">
        <mat-card-content>
            @if (isStoryTeller()) {
                <app-story-teller
                    [phase]="latest().view.phase"
                    [roomId]="getRoom().gid"
                    [playerCount]="latest().view.players"
                    [seats]="this.getSeats()">
                </app-story-teller>
            }
            <app-seats
                [seats]="this.getSeats()"
                [isStoryteller]="this.isStoryTeller()"></app-seats>
        </mat-card-content>
    </mat-card>
    <br/>

}


<div *ngIf="latest(); else waiting">

    

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-subtitle>Spectators</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="mat-typography">
                <app-spectators
                    [spectators]="latest().view.spectators">
                </app-spectators>
            </div>
        </mat-card-content>
    </mat-card>
    

    <pre>Seats</pre>

    <span *ngFor="let seat of getSeats()">
        <div>
            {{seat.seat}}
            @if (seat.occupant) {
                {{ seat.occupant.name }}
                @if (isMySeat(seat)) {    <!-- And game is "open"-->
                    @if (role) {
                        {{role}}
                    }
                    <span><button type="submit" (click)="vacate(seat.seat)">Vacate chair</button></span>
                }
            } @else {
                Empty
                @if (!isStoryTeller() && !isSeated) {
                    <span><button type="submit" (click)="sit(seat.seat)">Take chair</button></span>
                }
            }  
        </div>
    </span>
</div>

*** {{storytellerLogs}}
<ng-template #waiting>
    <p>Waiting for data...</p>
</ng-template>