<h2>Room details</h2>

<div *ngIf="latest(); else waiting">
    <pre>Room: {{ latest().view.room.name }}</pre>
    <pre>Story teller: {{ latest().view.room.story_teller }}</pre>
    <pre>Script: {{ latest().view.room.script_name }}</pre>
    <pre>Status: {{ latest().view.room.status }}</pre>
    <pre>Seats</pre>
    <span *ngFor="let seat of latest().view.seats">
        <div>
            {{seat.seat}}
            @if (seat.occupant) {
                {{ seat.occupant.name }}
            } @else {
                Empty
            }

            @if (latest().view.seats.length > 5) {
                (delete seat)
            }

        </div>
    </span>

    <pre>Spectators</pre>

    <span *ngFor="let spec of latest().view.spectators">
        {{ spec.name }}
    </span>

    <pre>{{ latest() | json }}</pre>

</div>
<ng-template #waiting>
    <p>Waiting for data...</p>
</ng-template>

<button (click)="sendPing()">Send ping</button>