<h2>Room details</h2>

{{room}}

<div *ngIf="latest(); else waiting">

    <button type="submit" (click)="leave()">Leave</button>

    @if (isStoryTeller()) {
        <h4>You are the storyteller!!!!</h4>
    }

    <pre>Room: {{ latest().view.room.name }}</pre>
    <pre>Story teller: {{ latest().view.room.storyteller_name }}</pre>
    <pre>Script: {{ latest().view.room.script_name }}</pre>
    <pre>Status: {{ latest().view.room.status }}</pre>
    <pre>Seats</pre>

    <span *ngFor="let seat of latest().view.seats">
        <div>
            {{seat.seat}}
            @if (seat.occupant) {
                {{ seat.occupant.name }}
                @if (isMySeat(seat)) {
                    <span><button type="submit" (click)="vacate(seat.seat)">Vacate chair</button></span>
                }
            } @else {
                Empty
                @if (!isStoryTeller() && !isSeated) {
                    <span><button type="submit" (click)="sit(seat.seat)">Take chair</button></span>
                }
            }  
        </div>
    </span>

    @if (isStoryTeller()) {
        @if (getSeats().length < 20) {
            <button type="submit" (click)="addChair()">Add Chair</button>&nbsp;
        }
        @if (getSeats().length > 5) {
            <button type="submit" (click)="removeChair()">Remove Chair</button>
        }
        <br/>
        <button type="submit" (click)="setupGame()" [disabled]="hasMinimumPlayers()">Prepare bag</button>
    }



    <pre>Spectators</pre>

    <span *ngFor="let spec of latest().view.spectators">
        {{ spec.name }}
    </span>

    <pre>{{ latest() | json }}</pre>

</div>

*** {{storytellerLogs}}
<ng-template #waiting>
    <p>Waiting for data...</p>
</ng-template>

<button (click)="sendPing()">Send ping</button>