.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-button {
  margin: 2px;
}

.dialog-header {
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0 8px 20px;
  color: rgba(0, 0, 0, 0.87);
}