h2 small {
  font-size: 0.8em;
  font-weight: normal;
  opacity: 0.8;
}

.name {
  color: whitesmoke;
  background-color: indigo;
  float:right;
}

.mat-mdc-card, .mat-mdc-card-content { overflow: visible; }