<ng-container *ngIf="ready">

@if (latest()) {
    <mat-card appearance="outlined">
        <mat-card-content class="mat-typography">
            <p>
                <button mat-button="elevated" type="submit" (click)="leave()">Leave</button>
                <b>{{ getRoom().name }}</b>({{getRoom().gid}}) 
                <b>Story teller:</b> {{ getRoom().storyteller_name }} 
                <b>Script:</b> {{ getRoom().script_name }} 
                <b>Status:</b> {{ getRoom().status }}
                <span class="name">{{getVisitor().name}}</span>
            </p>
            @if (isStoryTeller()) {
                <app-story-teller
                    [phase]="latest().view.phase"
                    [roomId]="getRoom().gid"
                    [playerCount]="latest().view.players"
                    [seats]="this.getSeats()"
                >
                </app-story-teller>
                <br/>
            }
            @if (!isStoryTeller()) {
                <app-player></app-player>
            }
            <app-seats
                [seats]="this.getSeats()"
                [isStoryteller]="this.isStoryTeller()"
                (takeSeat)="sit($event)"></app-seats>
        </mat-card-content>
    </mat-card>
    <br/>

}


<div *ngIf="latest(); else waiting">

    

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-subtitle>Spectators</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="mat-typography">
                <app-spectators
                    [spectators]="latest().view.spectators">
                </app-spectators>
            </div>
        </mat-card-content>
    </mat-card>
    

    <pre>Seats</pre>

    <span *ngFor="let seat of getSeats()">
        <div>
            {{seat.seat}}
            @if (seat.occupant) {
                {{ seat.occupant.name }}
                @if (isMySeat(seat)) {    <!-- And game is "open"-->
                    @if (role) {
                        {{role}}
                    }
                    <span><button type="submit" (click)="vacate(seat.seat)">Vacate chair</button></span>
                }
            } @else {
                Empty
                @if (!isStoryTeller() && !isSeated) {
                    <span><button type="submit" (click)="sit(seat.seat)">Take chair</button></span>
                }
            }  
        </div>
    </span>
</div>

<pre>{{latest() | json}}</pre>

*** {{storytellerLogs}}
<ng-template #waiting>
    <p>Waiting for data...</p>
</ng-template>

</ng-container>