<br/>
<br/>
<br/>
<br/>
{{seats.length}}
<pre>{{seats | json}}</pre>
<br/>
<div
  class="circle-container"
  [style.--radius.px]="radius"        
  [style.--label-gap.px]="labelGap"   
  [style.--seat.px]="seatSize"        
  [style.--label-pad.px]="labelPad"   
>

  @for (seat of seats; track seat ?? $index; let i = $index) {
    <div class="node" [style.--i]="i" [style.--n]="seats.length">
      <div class="anchor"  (click)="sit(seat)">
        <div class="chair"><button [matMenuTriggerFor]="menu" [disabled]="isMenuDisabled(seat)"><mat-icon style="margin: 12px">event_seat</mat-icon></button></div>
        <div class="label">{{ seat.occupant?.name || 'Empty' }}</div>
        @if (seat.occupant?.role) {
        <div class="role-circle" class="role-circle"
            [ngStyle]="{ 'font-size': getRoleFontSize('Washer woman') }">
            {{seat.occupant!.role.id}}
        </div>
        }

      </div>
    </div>
  }
</div>
<br/>
<br/>
<br/>
<br/>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Vacate</button>
</mat-menu>
